<div class="row">

    index

    <a href="#" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-headphones"></span> Test</a>

</div>

<script type="text/javascript">

    $(document).ready(function(){
        console.log("HELLO IS JQUERY $");
    });

</script>
