<div id="caInfoSign" class="row">
  <h2> codeagent.io what is ? </h2>
  <p> sfkùzf efh fzf zf ozfhoz foz fz f zf zf zf zf z fz fz fzfozfozf z </p>

  <a href="register" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
</div>

<div class="row">
  <div class="col-md-4 column ui-sortable" style="">
    <div class="box box-element">
      <div id="caMoreInfo" class="view">
        <p class="caInfo">Programming</p>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 column ui-sortable" style="">
    <div class="box box-element">
      <div id="caMoreInfo" class="view">
        <p class="caInfo">Battle</p>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 column ui-sortable" style="">
    <div class="box box-element">
      <div id="caMoreInfo" class="view">
        <p class="caInfo">Team</p>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

</script>
