<div class="row">

  <div class="container">
    <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Team</a>
  </div>

  <div class="container">
    <h2>Team created</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>rank</th>
          <th>description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">First T</a></td>
          <td>No Rank</td>
          <td>First team</td>
          <td>
            <a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus"></span> Delete</a>
          </td>
        </tr>
        <tr>
          <td><a href="#">Soldier</a></td>
          <td>Cooper</td>
          <td>team based of soldier</td>
          <td>
            <a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus"></span> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <h2>Other Team</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>rank</th>
          <th>creator</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">John</a></td>
          <td>Iron</td>
          <td><a href="#">admin</a></td>
          <td>
            <a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
