body {

}

.navbar-default {
  background-color: #2c3e50;
  border-color: #1a2735;
  border-radius: 0 !important;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #349ef8;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #349ef8;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2c3e50;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #349ef8;
  background-color: #1a2735;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2c3e50;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #349ef8;
  background-color: #1a2735;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #349ef8;
  background-color: #1a2735;
}
.navbar-default .navbar-toggle {
  border-color: #1a2735;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1a2735;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #349ef8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #349ef8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #349ef8;
    background-color: #1a2735;
  }
}

#title {
  text-align: center;
  color: #172160;
  background-color: #1e81dd;
  padding-top: 30px;
  padding-bottom: 30px;
}

#title > h1 {
  font-weight: bold;
  font-size: 450%;
}
#title > h1 > span{
  margin-top: 10px;
  font-size: 100%;
}

#title > h4 {
  color: #ffffff;
  padding-top: 10px;
}

#delimiter {
  height: 5px;
  background-color: #066f46;
}

#caInfoSign {
  text-align: center;

}

.caInfo {
  font-weight: bold;
  font-size: 125%;

}

#caMoreInfo {
  text-align: center;
}
